@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

:root {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --blue: #79caf9ff;
  --green: #b1e568ff;
  --white: #f4faff;
  --yellow: #ffcc01;
  --black: #181d27;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
